@CHARSET "UTF-8";
.scr{ height:300px; margin:0 auto} 
	@media screen and (min-width: 1201px) { 
	.scr {width: 400px} 
	} 
	/* 设置了浏览器宽度不小于1201px时 scr 显示1200px宽度 */ 

	@media screen and (max-width: 1200px) { 
	.scr {width: 400px} 
	} 
	/* 设置了浏览器宽度不大于1200px时 scr 显示900px宽度 */ 

	@media screen and (max-width: 900px) { 
	.scr {width: 400px;} 
	} 
	/* 设置了浏览器宽度不大于900px时 scr 显示200px宽度 */ 

	@media screen and (max-width: 400px) { 
	.scr {width: 280px;} 
	} 
	/* 设置了浏览器宽度不大于500px时 scr 显示100px宽度 */ 
	.btn {
		margin-top: 20px;
	}
	.top-title{
		margin-top: 100px;
	}
	input{
		margin-bottom: 15px;
	}
	.top-content{
		margin-top: 50px;
	}
	.top-end{
		font-size: 12px;
		margin-top: 40px;
	}